## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve

## Load dataset

In [3]:
df = pd.read_csv('../raw_data/fraudTrain_cleaned2.csv', index_col=0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1295379 entries, 0 to 1295378
Data columns (total 42 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   trans_date_trans_time    1295379 non-null  object
 1   cc_num                   1295379 non-null  int64
 2   merchant                 1295379 non-null  object
 3   category                 1295379 non-null  object
 4   amt                      1295379 non-null  float64
 5   first                    1295379 non-null  object
 6   last                     1295379 non-null  object
 7   state                    1295379 non-null  object
 8   lat                      1295379 non-null  float64
 9   long                     1295379 non-null  float64
 10  city_pop                 1295379 non-null  int64
 11  job                      1295379 non-null  object
 12  dob                      1295379 non-null  object
 13  merch_lat                1295379 non-null  float64
 14  merch_long               1295379 non-null  float64
 15  is_fraud                 1295379 non-null  int64
 16  val_mean_amt             1295379 non-null  float64
 17  val_mean_amt_dist        1295379 non-null  float64
 18  category_entertainment   1295379 non-null  int64
 19  category_food_dining     1295379 non-null  int64
 20  category_gas_transport   1295379 non-null  int64
 21  category_grocery_net     1295379 non-null  int64
 22  category_grocery_pos     1295379 non-null  int64
 23  category_health_fitness  1295379 non-null  int64
 24  category_home            1295379 non-null  int64
 25  category_kids_pets       1295379 non-null  int64
 26  category_misc_net        1295379 non-null  int64
 27  category_misc_pos        1295379 non-null  int64
 28  category_personal_care   1295379 non-null  int64
 29  category_shopping_net    1295379 non-null  int64
 30  category_shopping_pos    1295379 non-null  int64
 31  category_travel          1295379 non-null  int64
 32  is_M                     1295379 non-null  int64
 33  day_of_week              1295379 non-null  int64
 34  month                    1295379 non-null  int64
 35  hour                     1295379 non-null  int64
 36  hr_22to23                1295379 non-null  int64
 37  hr_0to4                  1295379 non-null  int64
 38  hr_12to23                1295379 non-null  int64
 39  age                      1295379 non-null  int64
 40  distance                 1295379 non-null  object
 41  distance2                1295379 non-null  float64
dtypes: float64(8), int64(25), object(9)
memory usage: 425.0+ MB

## One hot encoding categorical variables

In [5]:
# get dummies for 'state'
state_dummies = pd.get_dummies(df['state'],prefix='state')

# Concatenate one-hot encoded dataframe to main dataframe.
df = pd.concat([df, state_dummies], axis=1)

In [6]:
# get dummies for 'day_of_week'
day_dummies = pd.get_dummies(df['day_of_week'],prefix='day')

# Concatenate one-hot encoded dataframe to main dataframe.
df = pd.concat([df, day_dummies], axis=1)

In [7]:
# get dummies for 'month'
month_dummies = pd.get_dummies(df['month'],prefix='month')

# Concatenate one-hot encoded dataframe to main dataframe.
df = pd.concat([df, month_dummies], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1295379 entries, 0 to 1295378
Columns: 112 entries, trans_date_trans_time to month_12
dtypes: float64(8), int64(25), object(9), uint8(70)
memory usage: 511.4+ MB

## Drop unnecessary columns

In [9]:
drop_columns = ['val_mean_amt', 'state', 'job', 'dob', 'day_of_week', 'month', 'hour', 'distance', 'distance2', 'lat', 'long', 'merch_lat', 'merch_long']
df.drop(drop_columns, axis = 1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1295379 entries, 0 to 1295378
Data columns (total 99 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   trans_date_trans_time    1295379 non-null  object
 1   cc_num                   1295379 non-null  int64
 2   merchant                 1295379 non-null  object
 3   category                 1295379 non-null  object
 4   amt                      1295379 non-null  float64
 5   first                    1295379 non-null  object
 6   last                     1295379 non-null  object
 7   city_pop                 1295379 non-null  int64
 8   is_fraud                 1295379 non-null  int64
 9   val_mean_amt_dist        1295379 non-null  float64
 10  category_entertainment   1295379 non-null  int64
 11  category_food_dining     1295379 non-null  int64
 12  category_gas_transport   1295379 non-null  int64
 13  category_grocery_net     1295379 non-null  int64
 14  category_grocery_pos     1295379 non-null  int64
 15  category_health_fitness  1295379 non-null  int64
 16  category_home            1295379 non-null  int64
 17  category_kids_pets       1295379 non-null  int64
 18  category_misc_net        1295379 non-null  int64
 19  category_misc_pos        1295379 non-null  int64
 20  category_personal_care   1295379 non-null  int64
 21  category_shopping_net    1295379 non-null  int64
 22  category_shopping_pos    1295379 non-null  int64
 23  category_travel          1295379 non-null  int64
 24  is_M                     1295379 non-null  int64
 25  hr_22to23                1295379 non-null  int64
 26  hr_0to4                  1295379 non-null  int64
 27  hr_12to23                1295379 non-null  int64
 28  age                      1295379 non-null  int64
 29  state_AK                 1295379 non-null  uint8
 30  state_AL                 1295379 non-null  uint8
 31  state_AR                 1295379 non-null  uint8
 32  state_AZ                 1295379 non-null  uint8
 33  state_CA                 1295379 non-null  uint8
 34  state_CO                 1295379 non-null  uint8
 35  state_CT                 1295379 non-null  uint8
 36  state_DC                 1295379 non-null  uint8
 37  state_DE                 1295379 non-null  uint8
 38  state_FL                 1295379 non-null  uint8
 39  state_GA                 1295379 non-null  uint8
 40  state_HI                 1295379 non-null  uint8
 41  state_IA                 1295379 non-null  uint8
 42  state_ID                 1295379 non-null  uint8
 43  state_IL                 1295379 non-null  uint8
 44  state_IN                 1295379 non-null  uint8
 45  state_KS                 1295379 non-null  uint8
 46  state_KY                 1295379 non-null  uint8
 47  state_LA                 1295379 non-null  uint8
 48  state_MA                 1295379 non-null  uint8
 49  state_MD                 1295379 non-null  uint8
 50  state_ME                 1295379 non-null  uint8
 51  state_MI                 1295379 non-null  uint8
 52  state_MN                 1295379 non-null  uint8
 53  state_MO                 1295379 non-null  uint8
 54  state_MS                 1295379 non-null  uint8
 55  state_MT                 1295379 non-null  uint8
 56  state_NC                 1295379 non-null  uint8
 57  state_ND                 1295379 non-null  uint8
 58  state_NE                 1295379 non-null  uint8
 59  state_NH                 1295379 non-null  uint8
 60  state_NJ                 1295379 non-null  uint8
 61  state_NM                 1295379 non-null  uint8
 62  state_NV                 1295379 non-null  uint8
 63  state_NY                 1295379 non-null  uint8
 64  state_OH                 1295379 non-null  uint8
 65  state_OK                 1295379 non-null  uint8
 66  state_OR                 1295379 non-null  uint8
 67  state_PA                 1295379 non-null  uint8
 68  state_RI                 1295379 non-null  uint8
 69  state_SC                 1295379 non-null  uint8
 70  state_SD                 1295379 non-null  uint8
 71  state_TN                 1295379 non-null  uint8
 72  state_TX                 1295379 non-null  uint8
 73  state_UT                 1295379 non-null  uint8
 74  state_VA                 1295379 non-null  uint8
 75  state_VT                 1295379 non-null  uint8
 76  state_WA                 1295379 non-null  uint8
 77  state_WI                 1295379 non-null  uint8
 78  state_WV                 1295379 non-null  uint8
 79  state_WY                 1295379 non-null  uint8
 80  day_0                    1295379 non-null  uint8
 81  day_1                    1295379 non-null  uint8
 82  day_2                    1295379 non-null  uint8
 83  day_3                    1295379 non-null  uint8
 84  day_4                    1295379 non-null  uint8
 85  day_5                    1295379 non-null  uint8
 86  day_6                    1295379 non-null  uint8
 87  month_1                  1295379 non-null  uint8
 88  month_2                  1295379 non-null  uint8
 89  month_3                  1295379 non-null  uint8
 90  month_4                  1295379 non-null  uint8
 91  month_5                  1295379 non-null  uint8
 92  month_6                  1295379 non-null  uint8
 93  month_7                  1295379 non-null  uint8
 94  month_8                  1295379 non-null  uint8
 95  month_9                  1295379 non-null  uint8
 96  month_10                 1295379 non-null  uint8
 97  month_11                 1295379 non-null  uint8
 98  month_12                 1295379 non-null  uint8
dtypes: float64(2), int64(22), object(5), uint8(70)
memory usage: 383.0+ MB

## Split data into training and testing sets.

In [11]:
#Check partition sizes with 70/30 train/test split
len(df) * .7, len(df) * .3

(906765.2999999999, 388613.7)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='is_fraud'), 
                                                    df.is_fraud, test_size=0.3, 
                                                    random_state=47)

In [13]:
X_train.shape, X_test.shape

((906765, 98), (388614, 98))

In [14]:
y_train.shape, y_test.shape

((906765,), (388614,))

In [15]:
#Save the 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'first', 'last' columns 
#from the train/test data into labels_train and labels_test
#Then drop those columns from `X_train` and `X_test`.

labels_list = ['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'first', 'last']
labels_train = X_train[['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'first', 'last']]
labels_test = X_test[['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'first', 'last']]
X_train.drop(columns=labels_list, inplace=True)
X_test.drop(columns=labels_list, inplace=True)
X_train.shape, X_test.shape

((906765, 92), (388614, 92))

In [16]:
#Check the `info` method of `X_train` to verify all features are numeric
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 906765 entries, 825668 to 889991
Data columns (total 92 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   amt                      906765 non-null  float64
 1   city_pop                 906765 non-null  int64
 2   val_mean_amt_dist        906765 non-null  float64
 3   category_entertainment   906765 non-null  int64
 4   category_food_dining     906765 non-null  int64
 5   category_gas_transport   906765 non-null  int64
 6   category_grocery_net     906765 non-null  int64
 7   category_grocery_pos     906765 non-null  int64
 8   category_health_fitness  906765 non-null  int64
 9   category_home            906765 non-null  int64
 10  category_kids_pets       906765 non-null  int64
 11  category_misc_net        906765 non-null  int64
 12  category_misc_pos        906765 non-null  int64
 13  category_personal_care   906765 non-null  int64
 14  category_shopping_net    906765 non-null  int64
 15  category_shopping_pos    906765 non-null  int64
 16  category_travel          906765 non-null  int64
 17  is_M                     906765 non-null  int64
 18  hr_22to23                906765 non-null  int64
 19  hr_0to4                  906765 non-null  int64
 20  hr_12to23                906765 non-null  int64
 21  age                      906765 non-null  int64
 22  state_AK                 906765 non-null  uint8
 23  state_AL                 906765 non-null  uint8
 24  state_AR                 906765 non-null  uint8
 25  state_AZ                 906765 non-null  uint8
 26  state_CA                 906765 non-null  uint8
 27  state_CO                 906765 non-null  uint8
 28  state_CT                 906765 non-null  uint8
 29  state_DC                 906765 non-null  uint8
 30  state_DE                 906765 non-null  uint8
 31  state_FL                 906765 non-null  uint8
 32  state_GA                 906765 non-null  uint8
 33  state_HI                 906765 non-null  uint8
 34  state_IA                 906765 non-null  uint8
 35  state_ID                 906765 non-null  uint8
 36  state_IL                 906765 non-null  uint8
 37  state_IN                 906765 non-null  uint8
 38  state_KS                 906765 non-null  uint8
 39  state_KY                 906765 non-null  uint8
 40  state_LA                 906765 non-null  uint8
 41  state_MA                 906765 non-null  uint8
 42  state_MD                 906765 non-null  uint8
 43  state_ME                 906765 non-null  uint8
 44  state_MI                 906765 non-null  uint8
 45  state_MN                 906765 non-null  uint8
 46  state_MO                 906765 non-null  uint8
 47  state_MS                 906765 non-null  uint8
 48  state_MT                 906765 non-null  uint8
 49  state_NC                 906765 non-null  uint8
 50  state_ND                 906765 non-null  uint8
 51  state_NE                 906765 non-null  uint8
 52  state_NH                 906765 non-null  uint8
 53  state_NJ                 906765 non-null  uint8
 54  state_NM                 906765 non-null  uint8
 55  state_NV                 906765 non-null  uint8
 56  state_NY                 906765 non-null  uint8
 57  state_OH                 906765 non-null  uint8
 58  state_OK                 906765 non-null  uint8
 59  state_OR                 906765 non-null  uint8
 60  state_PA                 906765 non-null  uint8
 61  state_RI                 906765 non-null  uint8
 62  state_SC                 906765 non-null  uint8
 63  state_SD                 906765 non-null  uint8
 64  state_TN                 906765 non-null  uint8
 65  state_TX                 906765 non-null  uint8
 66  state_UT                 906765 non-null  uint8
 67  state_VA                 906765 non-null  uint8
 68  state_VT                 906765 non-null  uint8
 69  state_WA                 906765 non-null  uint8
 70  state_WI                 906765 non-null  uint8
 71  state_WV                 906765 non-null  uint8
 72  state_WY                 906765 non-null  uint8
 73  day_0                    906765 non-null  uint8
 74  day_1                    906765 non-null  uint8
 75  day_2                    906765 non-null  uint8
 76  day_3                    906765 non-null  uint8
 77  day_4                    906765 non-null  uint8
 78  day_5                    906765 non-null  uint8
 79  day_6                    906765 non-null  uint8
 80  month_1                  906765 non-null  uint8
 81  month_2                  906765 non-null  uint8
 82  month_3                  906765 non-null  uint8
 83  month_4                  906765 non-null  uint8
 84  month_5                  906765 non-null  uint8
 85  month_6                  906765 non-null  uint8
 86  month_7                  906765 non-null  uint8
 87  month_8                  906765 non-null  uint8
 88  month_9                  906765 non-null  uint8
 89  month_10                 906765 non-null  uint8
 90  month_11                 906765 non-null  uint8
 91  month_12                 906765 non-null  uint8
dtypes: float64(2), int64(20), uint8(70)
memory usage: 219.6 MB

In [17]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388614 entries, 1133158 to 157046
Data columns (total 92 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   amt                      388614 non-null  float64
 1   city_pop                 388614 non-null  int64
 2   val_mean_amt_dist        388614 non-null  float64
 3   category_entertainment   388614 non-null  int64
 4   category_food_dining     388614 non-null  int64
 5   category_gas_transport   388614 non-null  int64
 6   category_grocery_net     388614 non-null  int64
 7   category_grocery_pos     388614 non-null  int64
 8   category_health_fitness  388614 non-null  int64
 9   category_home            388614 non-null  int64
 10  category_kids_pets       388614 non-null  int64
 11  category_misc_net        388614 non-null  int64
 12  category_misc_pos        388614 non-null  int64
 13  category_personal_care   388614 non-null  int64
 14  category_shopping_net    388614 non-null  int64
 15  category_shopping_pos    388614 non-null  int64
 16  category_travel          388614 non-null  int64
 17  is_M                     388614 non-null  int64
 18  hr_22to23                388614 non-null  int64
 19  hr_0to4                  388614 non-null  int64
 20  hr_12to23                388614 non-null  int64
 21  age                      388614 non-null  int64
 22  state_AK                 388614 non-null  uint8
 23  state_AL                 388614 non-null  uint8
 24  state_AR                 388614 non-null  uint8
 25  state_AZ                 388614 non-null  uint8
 26  state_CA                 388614 non-null  uint8
 27  state_CO                 388614 non-null  uint8
 28  state_CT                 388614 non-null  uint8
 29  state_DC                 388614 non-null  uint8
 30  state_DE                 388614 non-null  uint8
 31  state_FL                 388614 non-null  uint8
 32  state_GA                 388614 non-null  uint8
 33  state_HI                 388614 non-null  uint8
 34  state_IA                 388614 non-null  uint8
 35  state_ID                 388614 non-null  uint8
 36  state_IL                 388614 non-null  uint8
 37  state_IN                 388614 non-null  uint8
 38  state_KS                 388614 non-null  uint8
 39  state_KY                 388614 non-null  uint8
 40  state_LA                 388614 non-null  uint8
 41  state_MA                 388614 non-null  uint8
 42  state_MD                 388614 non-null  uint8
 43  state_ME                 388614 non-null  uint8
 44  state_MI                 388614 non-null  uint8
 45  state_MN                 388614 non-null  uint8
 46  state_MO                 388614 non-null  uint8
 47  state_MS                 388614 non-null  uint8
 48  state_MT                 388614 non-null  uint8
 49  state_NC                 388614 non-null  uint8
 50  state_ND                 388614 non-null  uint8
 51  state_NE                 388614 non-null  uint8
 52  state_NH                 388614 non-null  uint8
 53  state_NJ                 388614 non-null  uint8
 54  state_NM                 388614 non-null  uint8
 55  state_NV                 388614 non-null  uint8
 56  state_NY                 388614 non-null  uint8
 57  state_OH                 388614 non-null  uint8
 58  state_OK                 388614 non-null  uint8
 59  state_OR                 388614 non-null  uint8
 60  state_PA                 388614 non-null  uint8
 61  state_RI                 388614 non-null  uint8
 62  state_SC                 388614 non-null  uint8
 63  state_SD                 388614 non-null  uint8
 64  state_TN                 388614 non-null  uint8
 65  state_TX                 388614 non-null  uint8
 66  state_UT                 388614 non-null  uint8
 67  state_VA                 388614 non-null  uint8
 68  state_VT                 388614 non-null  uint8
 69  state_WA                 388614 non-null  uint8
 70  state_WI                 388614 non-null  uint8
 71  state_WV                 388614 non-null  uint8
 72  state_WY                 388614 non-null  uint8
 73  day_0                    388614 non-null  uint8
 74  day_1                    388614 non-null  uint8
 75  day_2                    388614 non-null  uint8
 76  day_3                    388614 non-null  uint8
 77  day_4                    388614 non-null  uint8
 78  day_5                    388614 non-null  uint8
 79  day_6                    388614 non-null  uint8
 80  month_1                  388614 non-null  uint8
 81  month_2                  388614 non-null  uint8
 82  month_3                  388614 non-null  uint8
 83  month_4                  388614 non-null  uint8
 84  month_5                  388614 non-null  uint8
 85  month_6                  388614 non-null  uint8
 86  month_7                  388614 non-null  uint8
 87  month_8                  388614 non-null  uint8
 88  month_9                  388614 non-null  uint8
 89  month_10                 388614 non-null  uint8
 90  month_11                 388614 non-null  uint8
 91  month_12                 388614 non-null  uint8
dtypes: float64(2), int64(20), uint8(70)
memory usage: 94.1 MB

## Initial baseline modeling

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logreg = LogisticRegression()
# Fit the model on the trainng data.
logreg.fit(X_train, y_train)

y_pred_train = logreg.predict(X_train)
y_pred_test = logreg.predict(X_test)

# Print the accuracy from the testing data.
print(accuracy_score(y_pred_test, y_test))

0.9942668045927321

This doesn't tell us very much because of the imbalanced nature of the data. It's possible that the model has accurately predicted EVERY transaction as non-fraud and still have a high accuracy score.

In [19]:
from sklearn.metrics import classification_report

print("[Training Classification Report]")
print(classification_report(y_train, y_pred_train))

print("[Test Classification Report]")
print(classification_report(y_test, y_pred_test))

[Training Classification Report]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    901486
           1       0.48      0.19      0.27      5279

    accuracy                           0.99    906765
   macro avg       0.74      0.59      0.63    906765
weighted avg       0.99      0.99      0.99    906765

[Test Classification Report]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    386387
           1       0.50      0.22      0.31      2227

    accuracy                           0.99    388614
   macro avg       0.75      0.61      0.65    388614
weighted avg       0.99      0.99      0.99    388614

Based on the precision values, this tells us that ~50% of our current "out of the box" model's fraud predictions are correctly classifications. Based on our recall values, our model was only able to correctly classify ~20% of our positive cases.

Because the objective of this problem is to catch fraudulent transactions, we want to aim for high recall.

## Scaling features

Is it better to scale only nonbinary features, or to scale ALL features?  We'll create two different versions of this.

In [20]:
#Scale all features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## GridSearchCV to tune parameters

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import recall_score

In [ ]:
logreg2 = LogisticRegression(solver='saga')
params = {"C":np.logspace(-3,3,5,7), "penalty":["l1", "l2", 'none']}

clf2 = GridSearchCV(logreg2, params, cv=5, scoring = 'recall')

clf2.fit(X_train_scaled, y_train)

print(clf2.best_params_, clf2.best_score_)

/Users/chrischung/opt/anaconda3/envs/snowflakes/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Users/chrischung/opt/anaconda3/envs/snowflakes/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [ ]:
y_pred_train2 = clf2.predict(X_train_scaled)
y_pred_test2 = clf2.predict(X_test_scaled)

In [ ]:
print("[Training Classification Report]")
print(classification_report(y_train, y_pred_train2))

print("[Test Classification Report]")
print(classification_report(y_test, y_pred_test2))